.App {
  padding-bottom: 50px;
}
header {
  margin: 10px auto;
  width: 90%;
  margin-top: 20px;
  display: flex;
}
.app-nav {
  position: relative;
}
.tooltip {
  font-size: 14px;
  width: 90px;
  background-color: #6357c3;
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 50px;
  right: -15px;
  visibility: hidden;
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #6357c3 transparent;
}
nav:hover .tooltip {
  visibility: visible;
}
.logo-head {
  width: 50%;
}
.logo-head h1 {
  line-height: 0px;
  color: #6357c3;
  font-size: 22px;
  font-weight: 600;
}
.logo-head h3 {
  color: #272727;
  font-size: 16px;
  font-weight: 400;
}
nav {
  width: 50%;
}
nav p {
  line-height: 0px;
  margin-top: 25px;
  text-align: end;
  font-size: 36px;
  font-weight: 600;
  color: #6357c3;
}
.calcu {
}
.calcu h1 {
  text-align: center;
  font-size: 18px;
  color: #6357c3;
  margin: 30px 0 30px 0;
}
.date-form {
  height: 450px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  background-color: #cac3e0;
  border-radius: 25px;
  padding: 15px 0;
  max-width: 450px;
}
.day-div,
.month-div,
.year-div {
  width: 80%;
  display: flex;
  height: 50px;
  margin: 25px auto 0 auto;
  max-width: 320px;
}
.date-form select {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
.date-form select option {
  font-size: 14px;
  font-weight: 500;
}
.date-form select {
  margin-top: 5px;
}
.day-div select {
  padding-left: 25px;
}
.month-div select {
  text-align: center;
}
.year-div select {
  padding-left: 20px;
}
.day-div p,
.month-div p,
.year-div p {
  width: 50%;
  margin-right: 60px;
  max-width: 70px;
  font-weight: 500;
}

.west-check,
.chinese-check {
  height: 10px;
  margin: 35px 0 0 5vw;
}
input[type="checkbox"] {
  transform: scale(1.5);
}

.submit-btn {
  background-color: #6357c3;
  color: white;
  font-weight: 700;
  display: block;
  width: 150px;
  height: 40px;
  margin: 45px auto;
  border-radius: 10px;
  border: none;
}
.zod-card {
  margin-top: -70px;
  width: 102%;
}
.card-header {
  margin: 25px;
  font-size: 18px;
}
.west-head {
  color: #6357c3;
}
.chins-head {
  color: #f74d4d;
}
.card-info {
  width: 90%;
  margin: 0 auto;
  border-radius: 25px;
  z-index: 4;
  position: relative;
  padding-bottom: 10px;
  max-width: 500px;
  padding-top: 10px;
}
.west-card {
  background-color: #6357c3;
}
.chins-card {
  background-color: #f74d4d;
}
.zodiac-info {
  margin: 0 auto;
  width: 80%;
  border-bottom: solid white;
}
.frame-zod {
  margin: 20px auto 0 auto;
  width: 11rem;
  height: 11rem;
  border: solid white 8px;
  border-radius: 100%;
  position: relative;
}
.west-frame {
  background-color: #cac3e0;
}
.chins-frame {
  background-color: #f98282;
}
.frame-zod img {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 110px;
}
.name-card {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 5px;
}
.date-card {
  text-align: center;
  color: white;
  font-style: italic;
}
.about-select {
  display: block;
  margin: 15px auto 0px auto;
  padding: 0 15px;
  width: 85%;
  height: 35px;
  background-color: inherit;
  border: inherit;
  border-bottom: solid white 2px;
  color: white;
  font-size: 18px;
}
.about-select option {
  width: 100px;
  display: block;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.info-cont {
  width: 90%;
  margin: 10px auto;
  height: auto;
  max-width: 450px;
}
.about-1 {
  display: flex;
  height: 50px;
  color: white;
}
.about-1 h6 {
  margin: 15px 5px 15px 10px;
  height: 25px;
  width: 115px;
  font-size: 16px;
}
.about-1 span {
  margin: 15px 5px 15px 15px;
  height: 25px;
  width: 5px;
}
.love-cont {
  width: 90%;
  margin: 10px auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.hide {
  display: none;
}
.love-btn {
  margin: 12px 9px 5px 13px;
  width: 42%;
  height: 33px;
  text-align: center;
  line-height: 28px;
  color: black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  max-width: 400px;
}
.comp-cont {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 25px;
  color: white;
  z-index: 2;
  padding-bottom: 7px;
  position: absolute;
  top: 0;
}
.back-btn {
  margin: 25px 0 0px 25px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  font-style: bold;
  z-index: 10;
}

.comp-cont h3 {
  font-size: 20px;
  text-align: center;
}
.comp-img {
  margin: 20px auto 0 auto;
  width: 130px;
  height: 130px;
  border: solid white 7px;
  border-radius: 100%;
  position: relative;
}
.comp-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95px;
}
.west-comp {
  background-color: #cac3e0;
}
.chins-comp {
  background-color: #f98282;
}
.comp-cont h4 {
  margin: 15px;
  font-size: 18px;
  text-align: center;
}
.love-ico {
  position: absolute;
  display: block;
  width: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  animation: loveanim 200ms linear forwards;
}
.gap-cont {
  display: block;
  margin-top: 75px;
}
.love-rating {
  margin: 10px auto;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  max-width: 230px;
}
.love-rating img {
  margin: 5px 5px 5px 5px;
  width: 35px;
  opacity: 0;
  animation: lovepop 200ms linear forwards;
}
.comp-cont h2 {
  text-align: center;
  font-style: italic;
}
.dropbtn {
  display: block;
  color: white;
  margin: 20px auto 0 auto;
  cursor: pointer;
}
.dropanim {
  animation: btnhov 250ms linear forwards;
}
.upanim {
  animation: btnup 250ms linear forwards;
}
.windopen {
  animation: windopen 250ms linear forwards;
}
.windclose {
  animation: windclose 250ms linear forwards;
}
.comp-ico-cont {
  position: relative;
}
.allist-cont {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  top: 0;
  overflow-y: auto;
}
.chins {
  background-color: #f74d4d;
}
.west {
  background-color: #6357c3;
}
.list-contain {
  display: flex;
  position: relative;
  margin: 0px auto 35px auto;
  width: 90%;
  max-width: 400px;
}
.list-img-cont {
  margin: 0 25px 0 5px;
  width: 90px;
  height: 90px;
  border: solid white 4px;
  border-radius: 100%;
  position: relative;
  background-color: #cac3e0;
}

.list-img-cont img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
}
.list-info-cont {
  width: 52%;
  max-width: 250px;
  margin: 5px 0 0 -10px;
}
.list-info-cont h2 {
  color: white;
  border-bottom: solid white 3px;
  padding-bottom: 10px;
  margin: 5px 0 0 0;
  font-size: 18px;
}
.list-info-cont h3 {
  font-size: 14px;
  color: white;
  margin: 10px 0 0 0;
}
.carretright {
  color: white;
  position: absolute;
  top: 47%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.chins-list div span {
  background-color: #f98282;
}
.list-nav {
  display: flex;
  position: relative;
  color: white;
  width: 85%;
  margin: 20px auto 25px auto;
}
.list-nav h1 {
  width: 85%;
  font-size: 18px;
  margin: 15px 40px 0 40px;
  text-align: center;
}
.list-nav h3 {
  font-size: 12px;
  width: 50px;
  text-decoration: underline;
  cursor: pointer;
  margin: 15px 0 0 0;
}
.list-back {
  margin: 20px 25px 0 5px;
  cursor: pointer;
}
.ullist {
  font-size: 28px;
  color: #6357c3;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.back-card-btn {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 110px;
  right: 15%;
  cursor: pointer;
  z-index: 6;
}
.padding-list {
  width: 100%;
  height: 50px;
}
.list-select-btn {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 110px;
  left: 15%;
  z-index: 5;
  cursor: pointer;
}
.info-btn {
  left: 17%;
}
@keyframes btnhov {
  0% {
    transform: rotateX(0deg);
    margin-top: 0px;
  }
  100% {
    transform: rotateX(180deg);
  }
}
@keyframes btnup {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes windopen {
  0% {
    height: auto;
  }
  100% {
    height: auto;
  }
}
@keyframes windclose {
  0% {
    height: auto;
  }
  100% {
    height: auto;
  }
}
@keyframes loveanim {
  0% {
    width: 110%;
  }
  100% {
    width: 45px;
  }
}
@keyframes lovepop {
  0% {
    opacity: 0;
    margin-right: -15px;
  }
  100% {
    opacity: 1;
    margin-right: 5px;
  }
}
